body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: poppins, 'sans-serif';
}

.container {
    width: 1024px;
    margin: 0 auto;
}
.container main {
    background:#fff;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 4px 0 4px #dee6d2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
}

main section {
    width: 100%;
    max-width: 100%;
}

main .intro.left-right-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-right-container .left {
    width: 45%;
}

.left p {
    color: #63797e;
}
.left h1 {
    color: #507875;
    font-size: 31px;
}

.left-right-container .right {
    width: 45%;
}

.left-right-container .right img {
    width: 100%;

    height: auto;
    fit-content: contain;
    border-radius: 20px;
}

.content p {
    text-align: center;
}

.album-container {
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

h1 {
    margin-bottom: 20px;
}

.figurinhas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.figurinha {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #333;
}

.figurinha.revelada {
    background-color: #4caf50;
    color: #fff;
}

.callToAction h1 {
    color: #4CAF50;
}
.callToAction p {
    margin-top: 20px;
    color: #555;
}
.callToAction button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 4px;
}
.callToAction button:hover {
    background-color: #45a049;
}