/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: poppins, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

h2 {
    margin-top: 20px;
    font-size: 24px;
    color: #2c3e50;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

/* Contêiner principal */
.album-container {
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 0 4px #dee6d2;
}

/* Figurinhas */
.pagina {
    display: none;
}

.pagina.ativa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.figurinha {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    color: #555;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #333;
}


.figurinha.revelada {
    background-color: #4caf50;
    color: #fff;
}
